{% extends "base.html" %}

{% block main %}
<div class = "container">
    <h2 class="title">Contact</h2>
    <hr>
    <form method="POST" action="{{ url_for('contact') }}" class = "formc">
        {{ form.csrf_token }}
        <fieldset class="form-field">
            {{ form.name.label }}
            {{ form.name(class_="namefld") }}
            {% if form.name.errors %}
                {{form.name.errors[0]}}
            {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.email.label }}
            {{ form.email(class_="emailfld") }}
            {% if form.email.errors %}
                {{form.email.errors[0]}}
            {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.subject.label }}
            {{ form.subject(class_="subfld") }}
            {% if form.subject.errors %}
                {{form.subject.errors[0]}}
            {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.msg.label }}
            {{ form.msg(class_="msgfld")}}
            {% if form.msg.errors %}
                {{form.msg.errors[0]}}
            {% endif %}
        </fieldset>
        

        <button type="submit">Go</button>
        
    </form>
  </div>
{% endblock %}